@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #0040ff;
  --secondary: #050b20;
  --accent: #00ccff;
  --surface: #f8fafc;
}

html,body,#root{
  height:100%;
}

body{
  background:var(--surface);
  color:var(--secondary);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.container{max-width:1200px;margin-left:auto;margin-right:auto;padding-left:1rem;padding-right:1rem}
